* {
    box-sizing: border-box;
}

.up-border {
    border-top: 2px solid rgba(0, 0, 0, .07);
}

.svg-icons {
    height: 20%;
    width: 20%;
    margin-bottom: 10px;
}

.bg-dark {
    background-color: #E3E3E3;
}

.bg-light {
    background-color: #F2F2F2;
}

/* Main CSS start */

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #3A4965;
    padding-top: calc((100vh - 700px) / 2);
    padding-left: calc((100vw - 1200px) / 2);
}

.table {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #484848;
    text-align: center;
    text-transform: uppercase;
}

.table-name {
    vertical-align: middle;
    background-color: #FAFAFA;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
}

.table-name--big {
    margin-top: 5px;
    font-size: 20px;
}

.item {
    line-height: 1.5;
    width: 158px;
    height: 167px;
    vertical-align: middle;
}

.service-name {
    vertical-align: middle;
    font-weight: bold;
}

.services-row {
    height: 114px;
}

.plan {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.plan-standard {
    background-color: #89C331;
}

.plan-ultimate {
    background-color: #F04A56;
}

.plan-premium {
    background-color: #20807C;
}

.plan-name {
    display: block;
    padding-top: 20px;
}

.price-large {
    width: 100%;
    justify-content: center;
    font-size: 36px;
    display: flex;
    padding: 10px 20px 0;
}

.price-small {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: left;
    width: 100%;
}

.price-text {
    font-size: 14px;
    text-align: right;
}

.button {
    font-weight: bold;
    font-size: 16px;
    color: white;
    height: 40px;
    width: 145px;
    background-color: #414141;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 5px 1px 1px #343434;
    margin: 15px;
    transition: .1s linear;
}

.button:hover {
    box-shadow: 0 0 0 0;
    transform: translateY(5px);
    transition: .1s linear;
}