* {
    text-decoration: none;
    color: #373737;
}

.wrapper {
    width: 100%;
    height: 100%;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;  
    letter-spacing: 2px; 
}

.nav {
    margin-bottom: 10px;
    max-width: 590px;
    margin: 35px auto;
}

.nav-item {
    display: inline-block;
    color: #16A085;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-item:not(:last-child) {
    margin-right: 70px;
}

.top-img {
    width: 100%;
}

.textarea {
    width: 100%;
    height: 100%;
    background-color: #F5F6F7;
    text-align: center;
    line-height: 1.5em;
}

.text-content {
    padding: 55px 110px 95px;
}

.text-h {
    font-size: 22px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.text-p {
    font-size: 16px;
    margin-bottom: 40px;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #16A085;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    border-radius: 3px;
}

.copyright-info {
    margin: 45px 110px;
    text-align: right;
}