:root {
    --logo-second-col: #4BCAFF;
    --main-col-dark: #35444F;
    --footer-menu-col: #0C1927;
    --footer-menu-content-col: #3181A6;
    --header-nav-link-hover-bgcol: #222F3A;
    --side-menu-text-col: #485863;
}

.wrapper {
    width: 1280px;
    margin: 46px auto 23px;
}

/* Header */

/* Logo */

.ramda-logo {
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    font-family: 'PT Sans', sans-serif;
    font-size: 70px;
    text-decoration: none;
}

.logo-black--part {
    color: black;
}

.logo-blue--part {
    color: var(--logo-second-col);
}

.theme-change-btn {
    height: 50px;
    width: 100px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--main-col-dark);
    border-radius: 10px;
    color: white;
    border: 0;
}

/* Nav */

.header-nav {
    min-height: 70px;
    text-align: center;
    text-decoration: none;
    background-color: var(--main-col-dark);
    margin-top: 30px;
}

.header-nav--link {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    font-size: 24px;
    color: white;
    border: 1px solid transparent;
    padding: 22px 31px;
    min-height: 70px;
    box-sizing: border-box;
}

.header-nav--link:hover {
    content: '';
    background-color: var(--header-nav-link-hover-bgcol);
    transition: .4s ease-out;
    border: 1px solid #818181;
}

/* Left menu */

.side-menu {
    vertical-align: top;
    display: inline-block;
    height: 400px;
    width: 342px;
    border: 1px solid var(--main-col-dark);
    margin-top: 38px;
}

.side-menu--box {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100% / 5);
    padding: 25px 0 25px 35px;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
}

.side-menu--content {
    width: 100%;
    min-height: 100%;
    font-size: 30px;
    color: var(--side-menu-text-col);
    transition: margin 0.5s;
}

.side-menu--box:hover {
    content: '';
    background-color: #DBDBDB;
}

.side-menu--box:hover .side-menu--content {
    content: '';
    margin-left: 28px;
    transition: .5s ease-out;
}

/* Content */

.content {
    display: inline-block;
    height: 810px;
    width: 885px;
    margin-top: 38px;
    margin-left: 47px;
}

.top-img--wrapper {
    overflow: hidden;
    max-width: 885px;
    height: 529px;
    border: 1px solid var(--main-col-dark);
}

.top-img {
    display: inline-block;
    margin-left: 31%;
    margin-top: 9%;
    width: 320px;
    height: 381px;
    transition-property: inherit;
    transition: transform 0.2s;
}

.top-img--wrapper:hover .top-img {
    transform: scale(1.3);
    transition: .3s ease-out ;
}

.content-text {
    width: 820px;
    height: auto;
    margin-top: 40px;
    margin-left: 25px;
}

.text-p {
    margin-top: 25px;
    font-size: 18px;
}

/* Footer */

.footer {
    height: 70px;
    background-color: #B4B7BA;
    font-family: 'PT Sans', sans-serif;
}

.footer-menu {
    margin-left: 25px;
    color: var(--footer-menu-col);
}

.footer-menu--content {
    display: inline-block;
    text-decoration: none;
    color: var(--footer-menu-col);
    font-size: 26px;
    margin-left: 20px;
    margin-top: 22px;
    padding-bottom: 4px;
}

.footer-menu--content:hover {
    color: var(--footer-menu-content-col);
    border-bottom: 1px solid var(--footer-menu-content-col);
    transition: color .2s ease-in-out;
}

.footer-copyright {
    display: inline-block;
    margin-left: 220px;
    font-size: 24px;
    font-weight: 500;
}