.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: 'Russo One', sans-serif;
    color: rgb(230, 155, 15);
    font-size: 60px;
    overflow: hidden;
}

.content {
    position: relative;
    width: 50vw;
    height: 100%;
    margin: 0 auto;
    transform-origin: 50% 50%;
    transform: perspective(500px) rotateX(40deg);
    text-align: justify;
}

.text {
    position: absolute;
    top: 100%;
    animation: star-wars--scroll 30s linear 0s infinite;
}

@keyframes star-wars--scroll {
    0% { top: 90%; }
    99% { opacity: 1;}
	100% { top: -150%; opacity: 0;}
}

.text-area-1 {
    margin-bottom: 120px;
}

.title {
    text-align: center;
    margin-bottom: 100px;
}

@media (max-width: 1300px) {
    .text {
        animation: star-wars--scroll 60s linear 0s infinite;
    }
}

@media (max-width: 800px) {
    .text {
        animation: star-wars--scroll 90s linear 0s infinite;
    }
}
