:root {
    --primary-col: #18CFAB;
}

/* .loader{
	width:100px;
	height:100px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.blob-1,.blob-2{
	width:50px;
	height:50px;
	position:absolute;
	background:#fff;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:50%;
	animation:osc-l 2s linear infinite;
}
.blob-2{
	left:50%;
	animation:osc-r 2s linear infinite;
	background-color: #18CFAB;
}
@keyframes osc-l{
	0%{left:100%;}
	25%{left:50%;top: 100%}
	50%{left:0%; top: 50%}
	75%{left:50%;top: 100%}
	100%{left:100%;}
}
@keyframes osc-r{
	0%{left:0%;}
	25%{left:50%; top: 0%}
	50%{left:100%; top: 50%}
	75%{left:50%; top: 0%}
	100%{left:0%;}
} */

.primary-text-color {
    color: var(--primary-col);
}

.font-size--35 {
    font-size: 35px;
}

.font-size--79 {
    font-size: 79px;
}

/* Buttons */

.turquoise-button,
.purchase-button {
    width: 165px;
    height: 60px;
    font-weight: bold;
    color: white;
    font-size: 13px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 -5px 0 0 rgba(255,255,255,1);
    transition: .1s ease-out;
}

.turquoise-button {
    background-color: var(--primary-col);
}

.purchase-button {
    background-color: #00CBF6;
    margin-left: 20px;
}

.turquoise-button:active,
.purchase-button:active {
    transform: translateY(-5px);
    box-shadow: 0px 0px 0px 0px
}

.load-more-button {
    width: 165px;
    height: 60px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-col);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 70px;
}

.btn--plus-sign {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
}

/* Sections Heading */

.sections--h {
    width: 600px;
    height: 70px;
    display: block;
    position: relative;
    text-align: center;
    font-size: 36px;
    color: #4E4E4E;
    margin: 0 auto 70px auto;
}

.sections--h::before,
.sections--h::after {
    content: '';
    height: 0px;
    width: 75px;
    position: absolute;
    border-top: 1px solid var(--primary-col);
}

.sections--h::before {
    top: 99%;
    left: 45%;
}

.sections--h::after {
    top: 93%;
    left: 42%;
}

/* ----------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.top-section {
    height: 100vh;
    position: relative;
    background-image: url('../img/sections-background/section-1-header-.jpg');
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
}

.top-section::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

/* Header */

.header {
    width: 100%;
    height: 120px;
    background-color: rgba(73, 71, 63, 0.6);
}

.header-wrapper {
    width: 1160px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header Logo */

.logo {
    display: flex;
}

.logo-hexagon {
	min-width: 58px;
	height: 33px;
	background: #18CFAB;
    position: relative;
}

.logo-hexagon:before,
.logo-hexagon:after {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
}

.logo-hexagon:before {
    top: -17px; 
    border-bottom: 17px solid #18CFAB;
}

.logo-hexagon:after {
    bottom: -17px; 
    border-top: 17px solid #18CFAB;
}

.logo-hexagon-H {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.logo-name {
    font-size: 32px;
    color: white;
    margin-left: 6px;
}

.logo-name--Ham {
    color: var(--primary-col);
    font-weight: bold;
}

/* Header Nav */

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav--link {
    height: 123px;
    display: flex;
    color: #B8B8B8;
    margin-right: 20px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    border-bottom: 2px solid transparent;
}

.header-nav--link:hover {
    color: var(--primary-col);
    border-bottom: 2px solid var(--primary-col);
    transition: .3s ease-in;
}

/* Top Section Intro */

.top--intro-wrapper {
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top--intro {
    text-align: center;
    color: white;
    font-weight: bold;
}

.top--intro-the-ham-is {
    margin-bottom: 35px;
}

.top--intro-urge-to-buy{
    font-weight: 300;
    font-size: 34px;
    color: #D4D4D4;
    margin-top: 25px;
    margin-bottom: 110px;
}

/* Buttons are on the top */

/* Benefits Section */

.benefits {
    display: flex;
}

.benefits--item-dark,
.benefits--item-light {
    width: 25%;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.benefits--item-dark {
    background-color: #1C2A33;
    border-top: 7px solid var(--primary-col);
}

.benefits--item-light {
    background-color: var(--primary-col);
    border-top: 7px solid white;
}

.benefits--p-dark {
    margin-top: 35px;
    color: var(--primary-col);
}

.benefits--p-light {
    margin-top: 50px;
    color: white;
}

/* Services Section */

.services {
    width: 100%;
    height: 560px;
}

.services-wrapper {
    width: 1160px;
    height: 375px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 75px;
}

.services-buttons-wrapper {
    display: flex;
    justify-content: center;
}

.services-button {
    width: 195px;
    height: 75px;
    display: inline-block;
    position: relative;
    border: 1px solid #EBEBEB;
    background-color: #F8FCFE;
    color: #717171;
    font-size: 16px;
    margin: 0 -1px 0 -1px;
}

.services-button:hover {
    background-color: var(--primary-col);
    transition: .2s ease-out;
    color: white;
}

.services-button.active {
    background-color: var(--primary-col);
    color: white;
}

.services-button.active::before {
    content: '';
    position: absolute;
    left: 45%;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 12.5px 0 12.5px;
    border-color: var(--primary-col) transparent transparent transparent;
}

.services-item {
    display: none;
    width: 1160px;
    margin-top: 25px;
}

.services-item.active {
    display: flex;
}

.services-item--img {
    min-width: 195px;
    max-width: 195px;
    height: 140px;
    margin-right: 15px;
}

.services-item--p {
    text-align: justify;
    color: #777777;
    line-height: 24px;
    font-size: 14px;
    font-weight: 300;
}

/* Mid Advertising Section */

    /* ad - means advertisment */

.mid-ad {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../img/sections-background/section-2.jpg');
    background-position: 0 -350px;
    z-index: 0;
}

.mid-ad::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    z-index: -1;
}

.mid-ad-p1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-col);
    margin-bottom: 35px;
    text-transform: uppercase;
}

.mid-ad-p2 {
    font-size: 16px;
    color: #D8D8D8;
    margin-bottom: 70px;
}

/* Works Section */

.works {
    width: 100%;
    height: 1200px;
    background-color: #F8FCFE;
    padding-top: 100px;
    border-bottom: 1px solid #E1E1E1;
}

.works-wrapper {
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;
}

.works-buttons-wrapper {
    display: flex;
    justify-content: center;
}

.works-button {
    height: 58px;
    display: inline-block;
    position: relative;
    background-color: white;
    border: 1px solid #EBEBEB;
    color: #717171;
    font-size: 16px;
    padding: 0 30px;
    margin: -1px;
    margin-bottom: 50px;
}

.works-button:hover {
    transition: .2s ease-out;
    color: var(--primary-col);
}

.works-button.active {
    height: 58px;
    color: var(--primary-col);
}

.works-button.active::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -3px;
    left: 0;
    border-top: 2px solid var(--primary-col);
}

.works-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.loader {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #F8FCFE;
    z-index: 5;
}

.loader.active {
    display: flex;
    width: 100%;
    height: 100%;
    
}

.loader::after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    border: 2px solid var(--primary-col);
    border-right-width: 0;
    border-top-width: 0;
    border-radius: 100%;
    animation: 1s linear 0s infinite loader;
}

@keyframes loader {
    from {transform: rotate(0)}
    to {transform: rotate(360deg);}
}

.works-item {
    position: relative;
}

.works-item.non-active {
    display: none;
}

.works-img {
    display: block;
    width: 100%;
}

.works-img--hov {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    background-color: #F8FCFE;
    text-align: center;
    align-content: center;
}

.works-item:hover .works-img--hov {
    opacity: 1;
    transition: .2s ease-out;
    border-top: 3px solid var(--primary-col);
}

.works-icon {
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    border-radius: 100%;
    border: 1px solid var(--primary-col);
}

.works-icon:before {
    width: 45px;
    height: 45px;
    position: absolute;
    border-radius: 100%;
}

.works-icon:hover:before {
    content: '';
    background-color: var(--primary-col);
    background-repeat: no-repeat;
}

.link-icon:hover:before {
    content: '';
    background-image: url('../img/link-icon.svg');
    background-position: 50% 50%;
}

.search-icon:hover:before {
    content: '';
    background-image: url('../img/search-icon.svg');
    background-position: 50% 50%;
}

.works-img--hov-p1 {
    margin-top: 34px;
    color: var(--primary-col);
    font-size: 14px;
    font-weight: bold;
    user-select: none;
}

.works-img--hov-p2 {
    margin-top: 14px;
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 300;
    user-select: none;
}

/* News Section */

.news {
    width: 100%;
    height: 960px;
    display: flex;
    justify-content: center;
}

.news-wrapper {
    width: 1160px;
    margin-top: 90px;
}

.news-items-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-item {
    width: 263px;
    height: 280px;
    display: block;
    position: relative;
    background-color: #F8FCFE;
    margin-bottom: 45px;
}

.news-item::before {
    content: '';
    width: 65px;
    height: 65px;
    display: block;
    position: absolute;
    left: 75.3%;
    background-color: #203E38;
}

.news-item::after {
    content: '12 Feb';
    display: block;
    position: absolute;
    width: 30px;
    top: 3%;
    left: 82%;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.5;
}

.news-item:hover .news-item-p1{
    color: var(--primary-col);
    transition: .2s ease-out;
}

.news-item:hover:before{
    background-color: var(--primary-col);
    transition: .2s ease-out;
}

.news-item-content {
    width: 100%;
    height: 70px;
    border: 1px solid #ECECEC;
}

.news-item-p1 {
    font-size: 18px;
    font-weight: bold;
    color: #717171;
    margin-left: 10px;
    line-height: 2.3;
}

.news-item-p2 {
    width: 180px;
    display: block;
    text-align-last: justify;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
    margin-left: 14px;
}

/* People Say Section */

.people-say {
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../img/sections-background/section-3.jpg');
    background-position: 0 -200px;
    z-index: 0;
}

.people-say::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(16, 27, 34, .5);
    z-index: -1;
}

.people-say-wrapper {
    width: 1100px;
}

.quotes-icon-wrapper {
    width: 45px;
    height: 30px;
    display: flex;
    margin: 0 auto;
}

.swiper-slide {
    width: 1100px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide--p {
    color: #BBBBBB;
    text-align: center;
    line-height: 2;
    font-size: 16px;
}

.swiper--person-tag {
    margin-top: 40px;
    color: #BBBBBB;
    line-height: 2;
    text-align: center;
}

.swiper--person-name {
    font-weight: bold;
    color: var(--primary-col);
    text-transform: uppercase;
}

.swiper--person-position {
    font-size: 14px;
}

.swiper--img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 3px solid var(--primary-col);
    box-shadow: 0px 0px 0px 10px rgba(31, 218, 181, .2);
    margin-top: 35px;
}

.swiper-container.thumb {
    display: flex;
    width: 480px;
    overflow: visible;
}

.swiper-wrapper.thumb {
    height: 100%;
    width: 350px;
    overflow: visible;
    margin: 0 auto;
    justify-content: space-between;
}

.swiper-slide.thumb {
    width: 60px;
    height: 60px;
}

.swiper-thumb--img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid var(--primary-col);
    box-shadow: 0px 0px 0px 5px rgba(31, 218, 181, .2);
}

.gallery-top {
    height: 80%;
    width: 100%;
    margin-top: 35px;
}

.gallery-thumbs {
    height: 70px;
}

.gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
    top: -10px;
}

.swipe-button {
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
}

.swipe-button:hover {
    border: 1px solid var(--primary-col);
    background-color: var(--primary-col);
    transition: .2s ease-out;
}

.swipe-button::after {
    content: '';
    width: 5px;
    height: 5px;
    position: relative;
    border: 1px solid;
    border-color: transparent #BBBBBB #BBBBBB transparent;
}

.swipe-button:hover:after {
    content: '';
    border-color: transparent white white transparent;
}

.swiper-button-next::after {
    transform: rotate(-45deg);
    left: -2px;
}

.swiper-button-prev::after {
    transform: rotate(135deg);
    left: 2px;
}

/* Footer */

.footer {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22353F;
    margin: 10px 0;
}

.footer-container {
    font-size: 14px;
    color: #AEAEAE;
}

.footer-link {
    color: var(--primary-col);
    text-decoration: none;
}